body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: white;
}

.top-frame {
    background-color: green;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.title-text {
    color: white;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allow the title to grow and take available space */
    padding-top: 10px;
}

.title-text img {
    max-height: 200px;
    width: auto;
    margin-right: -100px;
    margin-bottom: 18px;
}

.profile-link {
    /* No need for align-items here */
}

.profile-icon {
    height: 65px;
    width: 65px;
    /* Add margin if needed */
}

.content-frame {
    padding: 20px;
    /* Rest of the content styles */
}

.bottom-frame {
    background-color: green;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* Rest of the bottom frame styles */
}

@media screen and (max-width: 768px) {
    .title-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .title-text {
        font-size: 18px;
    }
    .top-frame {
        height: 40px;
    }
    .profile-icon {
        height: 35px;
        width: 35px;
    }
}

.content-frame {
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-family: Arial, sans-serif; /* Match the font to your design */
    text-align: center;
    max-width: 960px; /* Maximum width of the content area */
    margin: 0 auto; /* Centers the content frame */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for some depth */
    border-radius: 10px; /* Optional: rounds the corners */
    
}


.expired, .future {
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Larger font size */
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Makes text bold */
}

.expired {
    background-color: red; /* A softer shade of red */
}

.future {
    background-color: green; /* A softer shade of green */
}

/* Ensure list items do not have bullets and have some spacing */
#productList {
    list-style-type: none; /* Remove list bullets */
}

